#container {
    padding: 10px;
}

.text-block {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.text-title {
    -unity-font-style: bold;
}

.bad-spelling {
    color: red;
    -unity-font-style: bold;
}
